In [1]:
from glob import glob

In [4]:
fname = glob("dataset/*/*/*.png")
fname[:10]

['dataset\\0\\0\\0.png',
 'dataset\\0\\0\\1.png',
 'dataset\\0\\0\\10.png',
 'dataset\\0\\0\\100.png',
 'dataset\\0\\0\\1000.png',
 'dataset\\0\\0\\1001.png',
 'dataset\\0\\0\\1002.png',
 'dataset\\0\\0\\1003.png',
 'dataset\\0\\0\\1004.png',
 'dataset\\0\\0\\1005.png']

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## X = Path -> Image -> Flatten

In [5]:
X = np.array([plt.imread(f).flatten() for f in fname])

## y = Path -> split -> index ke 2

In [13]:
y = np.array([int(f.split("\\")[2]) for f in fname])

In [21]:
df = pd.DataFrame(X, columns=[f"feat_{i:04d}" for i in range(1, X.shape[1] + 1)])
df.head()

,feat_0001,feat_0002,feat_0003,feat_0004,feat_0005,feat_0006,feat_0007,feat_0008,feat_0009,feat_0010,...,feat_3127,feat_3128,feat_3129,feat_3130,feat_3131,feat_3132,feat_3133,feat_3134,feat_3135,feat_3136
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
df["label"] = y
df.head()

,feat_0001,feat_0002,feat_0003,feat_0004,feat_0005,feat_0006,feat_0007,feat_0008,feat_0009,feat_0010,...,feat_3128,feat_3129,feat_3130,feat_3131,feat_3132,feat_3133,feat_3134,feat_3135,feat_3136,label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [26]:
df.to_csv("dataset/mnist_kw.csv", index=None)